body    {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    overflow-y: overlay;
}

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */


/* SCROLL BAR */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #1a1a1a #ffffff;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: none;
    margin: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    opacity: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-corner {
    opacity: 0;
  }



  /* BODY */
  
.header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    /* border: 2px solid white; */
  }
  
  /* .quote-bar,
  .hero-bar,
  .contact-bar,
  .project-bar {
  
  } */
  
.logo {
    align-self: center;
    justify-self: center;
    color: white;
    /* border: 2px solid white; */
}

.sticky {
    position: fixed;
    top: 0;
    /* width: 100%; */
    color:rgb(44, 44, 44);
  }

.sticky + .content {
    padding-top: 60px;
    }

#nav-bar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    /* border: 2px solid white; */
}

.links-right {
    display: block;
    padding: 14px;
    float: left;
}

a   {
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    text-shadow: 0px 4px 4px #282828;
    color: rgb(192, 192, 192);
}


/* Title/Hero Section  */
.hero-bar   {
    background-color: transparent;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.hero-text {
    display: flex;
    flex-direction: column;
    color: rgb(192, 192, 192);
    font-family: 'Playfair Display', serif;
}

.hero-intro {
    font-size: 65px;
    text-transform: uppercase;
	text-shadow: 0px 4px 4px #282828;
}

.hero-descrip {
    display: grid;
    place-self: center;
    text-transform: uppercase;
    font-size: 30px;
    max-width: 650px;
    text-shadow: 0px 4px 4px #282828;
    margin-bottom: 40px;
}

.hero-animation {
    overflow-y: hidden;
}

.ani-bar {
    height: 93px;
}

.slide-1 {
    border-radius: 7px;
    overflow: hidden;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.slide-1-img {
    display: flex;
    position: relative;
}

.slide-2 {
    border-radius: 7px;
    overflow: hidden;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.slide-2-img {
    display: inline-block;
    position: relative;
    left: 28%;
    bottom: 40%;
}

.slide-3 {
    border-radius: 7px;
    overflow: hidden;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.slide-3-img {
    display: flex;
    position: relative;
    left: 5%;
}

.slide-4 {
    border-radius: 7px;
    overflow: hidden;
    background-image: linear-gradient(-20deg, #616161 0%, #747474 100%);
}

.slide-4-img {
    display: inline-block;
    position: relative;
    height: 500px;
    left: 28%;
    bottom: 30%;
}

.slide-5 {
    border-radius: 7px;
    overflow: hidden;
    background-image: linear-gradient(to right, #434343 0%, rgb(48, 48, 48) 100%);
}

.slide-5-img {
    display: inline-block;
    position: relative;
    bottom: 30%;
}


/* Animation/Cinemagraph and Quote */

.animation-bar {
    min-height: 100vh;
    max-width: 100vw;
    object-fit: cover;
}

.cloud-vid {
    display: flex;
    z-index: 0;
}

.animation {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    color: rgb(255, 255, 255);
}

.ani-text-1 {
    display: inline-block;
    max-width: 240px;
    font-size: 20px;
    top: 210%;
    left: 13%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.ani-text-2 {
    display: inline-block;
    max-width: 500px;
    font-size: 20px;
    top: 272%;
    right: 13%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.ani-text-3 {
    display: inline-block;
    font-size: 20px;
    top: 280%;
    right: 13%;
}
/* ANI-TEXT DO NOT WORK ON DIFFERENT BROWSERS/DEVICES */




/* Project Bar */
.project-bar {
    min-height: 100vh;
}

.project-container {
    min-height: 100vh;
    overscroll-behavior: hidden;
    width: 600%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.project-start {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    overflow: hidden;
    background-image: linear-gradient(to right, #434343 0%, rgb(36, 36, 36) 100%);
}

#works {
    position: relative;
    top: 2%;
    left: 0%;
    font-size: 28rem;
    color: #bebebe;
    text-shadow: -8px 10px 5px #000000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
    transform: translateY(500px);
    transition: transform .6s;
}

.projects {
    min-height: 120vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-one {

}

.project-two {

}

.project-three {

}









/* Contact Bar */
.contact-bar {
    min-height: 100vh;
    max-width: 100vw;
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}


/* footer */
.footer-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    font-family: 'Concert One', cursive;
}

#footer-github {
    height: 18px;
    width: 18px;
    margin-bottom: -4px;
}